@charset "UTF-8";

header {
	height : 100px;
	padding:20px;
	}
.content{min-height : 600px; margin: 20px;}
footer{ height : 100px;}

.signSection{
	height: 600px;
}
footer>div{
	height : 100px;
}
#loginBox{
	height: 300px;
}
#loginHeader{
	height: 200px;
}